.footer {    
    color: $color-parrafos; 
    position: absolute;
    z-index: 1100;
    bottom: 0;
    max-height: fit-content;
    background-color: $color-fondo;
  


    &__form {
        @include flex-center(column);
        padding-left: map-get($scss, pad);
    }
    
    &__img {
        width: 80px !important;
        height: 80px;
        padding-top: 8px;
        padding-left: 1rem;
        padding-right: 1rem;

        &:hover {
            @extend h1:hover;
        }
    }    
    
    &__imgx {
        height: 60px;
        text-align: center;

    }
    
    &__label {
        color: $color-titulo;
        padding-bottom: 8px;
    }
    
    &__form-button {
        width: 60px;
    }
    
    &__p {
        align-self: flex-end;
        padding-bottom: 6px;
    }
}



